<div class="row-fluid">
<div class="span4">

<div id="new_songs">
	<h2 class="hype"><%= link_to "HYPE MACHINE", 'http://hypem.com' %></h2>
	<hr />
  <h3>Top 20 new songs</h3>
  <ol>
	
  <% for entry in FeedEntry.all(:limit => 20, :order => "published_at desc") %>
    <li class="posts"><%= link_to h(entry.name), entry.url %></li><br />
  <% end %>

  </ol>
</div>
</div>
<div class="span4">

<div id="new_songs">
	<h2 class="ninja"><%= link_to "The Music Ninja", 'http://themusicninja.com' %></h2>
	<hr />
  <h3>Top 20 new songs</h3>
  <ol>
	
  <% for entry in FeedEntry.all(:limit => 20, :order => "published_at desc") %>
    <li class="posts-ninja"><%= link_to h(entry.name), entry.url %></li><br />
  <% end %>

  </ol>
</div>
</div>

<div class="span4">

<div id="new_songs">
<h1>Why Bombsongs?</h1><br />
<h4>Our Mission
"Make daily music consumption fast and easy."

We believe in making access to music easy. Bombsongs puts the power in your hands: we believe in curating the best music, and displaying it in one place. Our team is united by the desire to foster music discovery, to help spark innovation, and creativity that shape the world around us. We seek to make access to music even more easy, and meaningful.
<br /><br />

Bombsongs was founded in June 2013 by APane, a former music producer turned web developer. What began as a personal quest to make music discovery easier, quickly turned into a true passion project. The result is an app that is used by many to find new music.
</h4>

  </ol>
</div>
</div>
