/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */

body {
    background-color: gray;
}
#new_songs-new {

padding: 5px 10px 5px 10px;	
border-radius: 5px 5px 5px 5px;
color: black;

}

#new_songs-bottom {
	padding-top: 800px;
}

#new_songs ul li a:hover {
	color: #333333;
text-decoration: none;
}


.hype {
	color: #004C57;
	font-family: 'ProximaNova-Light';
}

.hype a {
	
	color: black;
	font-family: 'ProximaNova-Light';
	padding: 5px 10px 5px 10px;	
	background: #83c441;
	border-radius: 5px 5px 5px 5px;
	color: white;
	
}

.ninja a {
	
	color: black;
	font-family: 'ProximaNova-Light';
	padding: 5px 10px 5px 10px;	
	background: #c22121;
	border-radius: 5px 5px 5px 5px;
	color: white;
	
}

.hype a:hover {
	
	color: white;
	text-decoration: none;
	font-family: 'ProximaNova-Light';
	
}

.ninja a:hover {
	
	color: white;
	text-decoration: none;
	font-family: 'ProximaNova-Light';
	
}


